@import 'admonitions';
@import 'dark-mode';
@import 'font-awesome/font-awesome';

html {
  overflow-y: scroll;
}

body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font: 14px/1.5 monospace;
  color: #333;
}

* {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

a {
  color: #0c61e8;
  text-decoration: none;

  &:hover, &:active {
    color: darken(#0c61e8, 20%);
    text-decoration: underline;
  }
}

a.btn {
  background-color: #111;
  color: #ddd;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: #fff;
    background-color: #000;
  }
}

h1, h2, h3 {
  line-height:1.2;
}

h1 {
  font-size: 2em;
}

p > code {
  color: #ddd;
  background: #282828;
  padding: 2px;
}

pre {
  padding: 24px;
  white-space: pre-wrap;
  border: 1px solid black;
}

article {
  padding: 24px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
  max-width: 100%;
  opacity: 0.9;

  &:hover, &:active, &:focus {
    opacity: 1;
  }
}

img.align-center {
  display: block;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #333;

  .name-and-subtitle {
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    @media screen and (max-width: 600px) {
      align-items: center;
      flex-direction: column;

      text-align: center;
    }

    .site-image {
      margin-right: 15px;
      width: 150px;

      img {
        opacity: 1;
      }
    }

    .site-title {
      font-size: 3.5em;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }

    .subtitle {
      font-size: 1.4em;
    }
  }

  nav {
    font-size: 1.1em;
  }
}

dt {
  font-size: 1.2em;
}

dd {
  margin-block-end: 1em;

  p.first {
    margin-top: 0;
  }
}

footer {
  border-top: 2px solid #333;
  margin-top: 2em;
  padding-top: 2em;

  p:first-child {
    margin-top: 0;
  }
}

@media (prefers-color-scheme: no-preference), (prefers-color-scheme: dark) {
  body:not(.light-theme) {
    @import 'pygments/dracula';
    @include dark-mode-styles;
  }
  body.light-theme {
    @import 'pygments/github';
  }
}

@media (prefers-color-scheme: light) {
  body:not(.dark-theme) {
    @import 'pygments/github';
  }
  body.dark-theme {
    @import 'pygments/dracula';
    @include dark-mode-styles;
  }
}
