@import 'admonitions';
@import 'dark-mode';
@import 'fork-awesome/fork-awesome';

// Iosevka
$iosevka-font-path: '/fonts/iosevka';
$iosevka-version: '3.6.3';
@font-face {
  font-family: 'Iosevka';
  src:
    url('#{$iosevka-font-path}/woff2/iosevka-regular.woff2?v=#{$iosevka-version}') format('woff2'),
    url('#{$iosevka-font-path}/woff/iosevka-regular.woff?v=#{$iosevka-version}') format('woff'),
    url('#{$iosevka-font-path}/ttf/iosevka-regular.ttf?v=#{$iosevka-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src:
    url('#{$iosevka-font-path}/woff2/iosevka-bold.woff2?v=#{$iosevka-version}') format('woff2'),
    url('#{$iosevka-font-path}/woff/iosevka-bold.woff?v=#{$iosevka-version}') format('woff'),
    url('#{$iosevka-font-path}/ttf/iosevka-bold.ttf?v=#{$iosevka-version}') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Iosevka';
  src:
    url('#{$iosevka-font-path}/woff2/iosevka-oblique.woff2?v=#{$iosevka-version}') format('woff2'),
    url('#{$iosevka-font-path}/woff/iosevka-oblique.woff?v=#{$iosevka-version}') format('woff'),
    url('#{$iosevka-font-path}/ttf/iosevka-oblique.ttf?v=#{$iosevka-version}') format('truetype');
  font-weight: italic;
  font-style: italic;
}

html {
  overflow-y: scroll;
}

body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1.5;
  font-family: Iosevka, monospace;
  color: #333;
}

* {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

a {
  color: #0c61e8;
  text-decoration: none;

  &:hover, &:active {
    color: darken(#0c61e8, 20%);
    text-decoration: underline;
  }
}

a.btn {
  background-color: #111;
  color: $foreground-dark-mode;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: #fff;
    background-color: #000;
  }
}

h1, h2, h3 {
  line-height:1.2;
}

h1 {
  font-size: 2em;
}

main *:not(pre) > code,
tt,
kbd {
  background-color: #0002;
  border-radius: 4px;
  font-family: Iosevka, monospace;
  padding: 1px 0.5em;
}

pre {
  border: 1px solid black;
  font-family: Iosevka, monospace;
  opacity: 0.8;
  overflow-x: auto;
  padding: 24px;
}

pre:hover {
  opacity: 1;
}

article {
  padding: 24px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

blockquote {
  border-left: 0.7em solid black;
  padding: 0.5em 0 0.5em 1em;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

figure {
  background-color: #0002;
  padding: 5px;

  * {
    margin: 0;
  }
}

img {
  max-width: 100%;
  opacity: 0.9;

  &:hover, &:active, &:focus {
    opacity: 1;
  }
}

.align-center {
  display: block;
  margin: 0 auto;

  &.figure {
    margin: 1em auto;
    text-align: center;
  }
}

// TODO: START move this stuff out to custom css
.strike {
  text-decoration: line-through;
}
/* Image Galleries */
.gallery {
  tr {
    max-width: 60%;

    td {
      vertical-align: middle;
    }
  }
}
details.youtube-expander {
  margin: 1em 0;

  > summary {
    background-color: #eee;
    padding: 1em;

    i {
      color: #e52d27;
      font-size: 1.1em;
    }
  }
}
details.advent-of-code-part-expander {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em;

  > summary {

    h3 {
      display: inline;
    }
  }
}
h2 .permalink {
  opacity: 0;
}
h2:hover .permalink {
  opacity: 1;
}
details.portfolio-item {
  margin-bottom: 1em;

  > summary {
    background-color: #eee;
    padding: 0.5em 1em;

    h3 {
      display: inline;
      margin: 0;

      .permalink {
        opacity: 0;
      }
    }

    span {
      float: right;
    }

    img {
      max-height: 1em;
      max-width: 1em;
    }

    p {
      margin: 0 1em;
    }

    &:hover {
      h3 .permalink {
        opacity: 1;
      }
    }
  }

  > div {
    margin-left: 2em;
  }
}
// TODO: END move this stuff out to custom css

header {
  border-bottom: 2px solid #333;

  .name-and-subtitle {
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    @media screen and (max-width: 600px) {
      align-items: center;
      flex-direction: column;

      text-align: center;
    }

    .site-image {
      margin-right: 15px;
      width: 150px;

      img {
        opacity: 1;
      }
    }

    .site-title {
      font-size: 3.5em;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }

    .subtitle {
      font-size: 1.4em;
    }
  }

  nav {
    font-size: 1.1em;
  }

  #search-container {
    margin: 20px 0;

    input[type=search] {
      border-radius: 0;
      padding: 8px;
      border: 1px solid black;
      width: 100%;
    }

    &.hidden {
      display: none;
    }

    .search-results {
      #search-results-loading, .no-results {
        text-align: center;
      }

      li {
        border-left: 4px solid transparent;
        margin-left: -8px;
        padding-left: 4px;
      }

      li:hover, li:active {
        border-left: 4px solid #0c61e8;
      }

      a {
        color: #333;
        text-decoration: none;

        &:hover, &:active {
          color: #333;
          text-decoration: none;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      h1 {
        font-size: 1.5em;
      }

      p {
        margin: 8px 0;
      }

      mark {
        padding: 1px 5px;
      }
    }
  }
}

dt {
  font-size: 1.15em;
}

dd {
  margin-block-end: 1em;

  p.first {
    margin-top: 0;
  }
}

.docutils.field-list {
  th.field-name {
    text-align: left;
    padding-right: 1em;
  }
}

.next-prev {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    margin: 1em 0;
  }

  @media screen and (max-width: 600px) {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.webring {
  .articles {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;

    .article {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      margin: 0.5rem;
      background: #eee;
      min-width: 12rem;

      .title {
        margin: 0;
      }

      .summary {
        font-size: 0.8rem;
        flex: 1 1 0;
      }
    }
  }

  .attribution {
    margin: 0.5em 0;
    text-align: right;
    font-size: 0.8rem;
    color: #555;
  }
}

// Isso
// Add a bit of padding between each of the entry boxes in the Isso auth
// section. By default, they are squished together, which looks terrible.
section#isso-thread {
  .auth-section .input-wrapper {
    margin-right: 5px;
  }

  .isso-comment > div.text-wrapper {
    a.author:hover {
      text-decoration: underline;
    }
  }

  input {
    font-family: Iosevka, monospace;
    color: #333;
  }

  .post-action input {
    border: none;
    color: #333;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

footer {
  border-top: 2px solid #333;
  margin-top: 2em;
  padding-top: 2em;

  p:first-child {
    margin-top: 0;
  }
}

@media (prefers-color-scheme: no-preference), (prefers-color-scheme: dark) {
  body:not(.light-theme) {
    @import 'pygments/monokai';
    @include dark-mode-styles;
  }
  body.light-theme {
    @import 'pygments/github';
  }
}

@media (prefers-color-scheme: light) {
  body:not(.dark-theme) {
    @import 'pygments/github';
  }
  body.dark-theme {
    @import 'pygments/monokai';
    @include dark-mode-styles;
  }
}
