html {
  overflow-y: scroll;
}

body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font: 14px/1.5 monospace;
  color: #333;
}

a:link, a:visited {
  color: #0c61e8;
  // text-decoration: none;
}

// a:hover, a:active {
//   text-decoration: underline;
// }

h1, h2, h3 {
  line-height:1.2;
}

h1 {
  font-size: 2em;
}

@media (prefers-color-scheme: dark){
  body {
    color: #ddd;
    background: #282828;

    header {
      .name-and-subtitle .site-title {
        color: #ddd;
      }
    }

    header, footer {
      border-color: #ddd;
    }
  }

  a:link, a:visited {
    color: #0c61e8;
    color: #84b4ff;
  }
}

p > code {
  color: #FFFFFF;
  background:#000000;
  padding:2px;
}

pre {
  color: #FFFFFF;
  background: #000000;
  padding: 24px;
  white-space: pre-wrap;
}

article {
  padding: 24px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
  max-width: 100%;
}

img.align-center {
  display: block;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #333;

  .name-and-subtitle {
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    .site-image {
      margin-right: 15px;
      width: 150px;
    }

    .site-title {
      font-size: 3.5em;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }

    .subtitle {
      font-size: 1.4em;
    }
  }

  nav {
    font-size: 1.1em;
  }
}

dt {
  font-size: 1.2em;
}

dd {
  margin-block-end: 1em;

  p.first {
    margin-top: 0;
  }
}

footer {
  border-top: 2px solid #333;
  margin-top: 2em;
  padding-top: 2em;

  p:first-child {
    margin-top: 0;
  }
}
