/* Background */ pre.code, .chroma { background-color: #ffffff; color: black; }
/* Other */ .chroma .x {  }
/* Error */ pre.code .err, .chroma .err { color: #a61717; background-color: #e3d2d2 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ pre.code .k, .chroma .k { color: #000000; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #000000; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #000000; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #000000; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #000000; font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: #000000; font-weight: bold }
/* KeywordType */ pre.code .kt, .chroma .kt { color: #445588; font-weight: bold }
/* Name */ .chroma .n {  }
/* NameAttribute */ pre.code .na, .chroma .na { color: #008080 }
/* NameBuiltin */ pre.code .nb, .chroma .nb { color: #0086b3 }
/* NameBuiltinPseudo */ pre.code .bp, .chroma .bp { color: #999999 }
/* NameClass */ pre.code .nc, .chroma .nc { color: #445588; font-weight: bold }
/* NameConstant */ pre.code .no, .chroma .no { color: #008080 }
/* NameDecorator */ pre.code .nd, .chroma .nd { color: #3c5d5d; font-weight: bold }
/* NameEntity */ pre.code .ni, .chroma .ni { color: #800080 }
/* NameException */ pre.code .ne, .chroma .ne { color: #990000; font-weight: bold }
/* NameFunction */ pre.code .no, .chroma .nf { color: #990000; font-weight: bold }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ pre.code .nl, .chroma .nl { color: #990000; font-weight: bold }
/* NameNamespace */ pre.code .nn, .chroma .nn { color: #555555 }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ pre.code .nt, .chroma .nt { color: #000080 }
/* NameVariable */ pre.code .nv, .chroma .nv { color: #008080 }
/* NameVariableClass */ .chroma .vc { color: #008080 }
/* NameVariableGlobal */ .chroma .vg { color: #008080 }
/* NameVariableInstance */ .chroma .vi { color: #008080 }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ pre.code .s, .chroma .s { color: #dd1144 }
/* LiteralStringAffix */ .chroma .sa { color: #dd1144 }
/* LiteralStringBacktick */ .chroma .sb { color: #dd1144 }
/* LiteralStringChar */ .chroma .sc { color: #dd1144 }
/* LiteralStringDelimiter */ .chroma .dl { color: #dd1144 }
/* LiteralStringDoc */ .chroma .sd { color: #dd1144 }
/* LiteralStringDouble */ .chroma .s2 { color: #dd1144 }
/* LiteralStringEscape */ .chroma .se { color: #dd1144 }
/* LiteralStringHeredoc */ .chroma .sh { color: #dd1144 }
/* LiteralStringInterpol */ pre.code .si, .chroma .si { color: #dd1144; font-weight: bold; }
/* LiteralStringOther */ .chroma .sx { color: #dd1144 }
/* LiteralStringRegex */ pre.code .sr, .chroma .sr { color: #009926 }
/* LiteralStringSingle */ .chroma .s1 { color: #dd1144 }
/* LiteralStringSymbol */ pre.code .ss, .chroma .ss { color: #990073 }
/* LiteralNumber */ pre.code .m, .chroma .m { color: #009999 }
/* LiteralNumberBin */ .chroma .mb { color: #009999 }
/* LiteralNumberFloat */ .chroma .mf { color: #009999 }
/* LiteralNumberHex */ .chroma .mh { color: #009999 }
/* LiteralNumberInteger */ .chroma .mi { color: #009999 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #009999 }
/* LiteralNumberOct */ .chroma .mo { color: #009999 }
/* Operator */ pre.code .o, .chroma .o { color: #000000; font-weight: bold }
/* OperatorWord */ .chroma .ow { color: #000000; font-weight: bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ pre.code .c, .chroma .c { color: #999988; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #999988; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #999988; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #999988; font-style: italic }
/* CommentSpecial */ pre.code .cs, .chroma .cs { color: #999999; font-weight: bold; font-style: italic }
/* CommentPreproc */ pre.code .cp, .chroma .cp { color: #999999; font-weight: bold; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #999999; font-weight: bold; font-style: italic }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ pre.code .gd, .chroma .gd { color: #000000; background-color: #ffdddd }
/* GenericEmph */ pre.code .ge, .chroma .ge { color: #000000; font-style: italic }
/* GenericError */ pre.code .gr, .chroma .gr { color: #aa0000 }
/* GenericHeading */ pre.code .gh, .chroma .gh { color: #999999 }
/* GenericInserted */ pre.code .gi, .chroma .gi { color: #000000; background-color: #ddffdd }
/* GenericOutput */ pre.code .go, .chroma .go { color: #888888 }
/* GenericPrompt */ pre.code .gp, .chroma .gp { color: #555555 }
/* GenericStrong */ pre.code .gs, .chroma .gs { font-weight: bold }
/* GenericSubheading */ pre.code .gu, .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ pre.code .gt, .chroma .gt { color: #aa0000 }
/* GenericUnderline */ pre.code .gl, .chroma .gl { text-decoration: underline }
/* TextWhitespace */ pre.code .w, .chroma .w { color: #bbbbbb }
