{{ define "main" }}
{{ $reg := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
<main>
  <article>
    <div class="article-title">
      <h1>{{ .Title }}</h1>
    </div>
    {{ if and (or ($reg.Prev .) ($reg.Next .)) (or .Date .Params.tags .Params.categories) }}
      <p class="article-info">
        <b>
          Posted
          {{ if .Date }}
            on <time>{{ .Date.Format (default "01/02/2006 15:04:05" .Site.Params.dateFmt) }}</time>
          {{ end }}
          {{ with .Params.categories }}
            in
            {{ range first 1 . }}
              <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{- end -}}
            {{- range after 1 . -}}
              , <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{- end -}}
          {{ end }}
        </b>
        {{ with .WordCount }}
          • {{ . }} words
        {{ end }}
        {{ with .ReadingTime }}
          • {{ . }} minute read
        {{ end }}
        {{ with .Params.tags }}
          <br>
          Tags:
          {{ range first 1 . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
          {{- range after 1 . -}}
            , <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
        {{ end }}
      </p>
    {{ end }}
    <div>
      {{ .Content }}
    </div>
  </article>
</main>
<div class="next-prev">
  {{ with $reg.Prev . }}
    <a class="prev" href="{{ .Permalink }}" title="{{ .Title }}">« {{ .Title | truncate 50 "..." }}</a>
  {{ end }}
  {{ with $reg.Next . }}
    <a class="next" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | truncate 50 "..." }} »</a>
  {{ end }}
</div>
{{ if and (or ($reg.Prev .) ($reg.Next .)) }}
  {{ partial "sidebar.html" . }}
{{ end }}
{{ end }}
