{{ define "main" }}
<main>
  <article>
    <h1>{{ .Title }}</h1>
    {{ if or .Date .Params.tags .Params.categories }}
      <p>
        <b>
          Posted
          {{ if .Date }}
            at <time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
          {{ end }}
          {{ with .Params.categories }}
            in
            {{ range first 1 . }}
              <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{- end -}}
            {{- range after 1 . -}}
              , <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{- end -}}
          {{ end }}
        </b>
        {{ with .Params.tags }}
          <br>
          Tags:
          {{ range first 1 . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
          {{- range after 1 . -}}
            , <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
        {{ end }}
      </p>
    {{ end }}
    <div>
      {{ .Content }}
    </div>
  </article>
</main>
<div class="next-prev">
  {{ $reg := (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  {{ with $reg.Prev . }}
    <a class="prev" href="{{ .Permalink }}" title="{{ .Title }}">« {{ .Title | truncate 50 "..." }}</a>
  {{ end }}
  {{ with $reg.Next . }}
    <a class="next" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | truncate 50 "..." }} »</a>
  {{ end }}
</div>
{{ partial "sidebar.html" . }}
{{ end }}
