<header>
  <div class="name-and-subtitle">
    <a href="/" class="site-image">
      <img src="/profile.jpg" alt="Jonathan Sumner Evans" />
    </a>
    <div>
      <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><br>
      <span class="subtitle">{{ .Site.Params.subtitle }}</span>
    </div>
  </div>
  <p>
    <nav>
      <a href="/"><b>Home</b></a>
      {{ with .Site.Menus.main }}
      {{ range . }}
        | <a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>
      {{ end }}
    </nav>
  </p>
  {{ end }}
</header>
